In [6]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [7]:
data=pd.read_excel('/content/iris.xls')

Display the columns

In [8]:
data.columns

Index(['SL', 'SW', 'PL', 'PW', 'Classification'], dtype='object')

Calculate the mean of each column

In [9]:
print("\nMean of each column:")
data.mean()

Mean of each column:

<ipython-input-9-4b97e3f0d5df>:2: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  data.mean()

SL    5.843333
SW    3.054000
PL    3.758667
PW    1.198667
dtype: float64

Check for null values

In [10]:
null_values = data.isnull().sum()
print("\nNull values in each column:")
print(null_values)

Null values in each column:
SL                0
SW                0
PL                0
PW                0
Classification    0
dtype: int64